.pyc
.ipynb_checkpoints/
.ipython
.vscode/
.vscode-server/
.wget-hsts
__pycache__/
data/FashionMNIST
data/MNIST
data/cifar*
*.png
run/
*.out
data/

# container
*.cache
*.dotnet
*.hypothesis
*.local
*.python_history
*.bash_history

# images
*.sif

# expeirments
*model/
*runs/
*image/
